<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>DARIAH-DE :: ERROR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= @locallogout_headertags %> 
		<!-- CSS Imports -->
		<link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-responsive.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/application.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-customization.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-modal.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/font-awesome.css">
		<link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/dariah_portal.css" type="text/css" media="screen, projection" />
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		    <!--[if lt IE 9]>
		      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		      <![endif]-->
		<link rel="shortcut icon" type="image/png" href="https://res.de.dariah.eu/aai/img/page_icon.png" />
	</head>
	<body>
		<div id="content_layout">
			<div class="span8 main-content-wrapper">
				<div id="content" class="primary-area">

          <h1>Local Logout</h1>

          <strong>Status of Local Logout:</strong> <shibmlp logoutStatus/>

          <p/>
          
          <div class="alert alert-warn">You <strong>MUST</strong> close your browser to complete the logout process.</div>
          
        </div>
				<div class="row central_logo"></div>
			</div>
			<div class="row dfooter footer">
				<div class="span7">	
					<hr/>
					<p>Digital Research Infrastructure for the Arts and Humanities.</p>
				</div>
			</div>
		</div>
		<noscript>
			<div>
        <shibmlpif logoLocation>
        <img src="<shibmlp logoLocation/>" alt="Logo" />
        </shibmlpif>
        <h1>Local Logout</h1>

        <strong>Status of Local Logout:</strong> <shibmlp logoutStatus/>

        <p/>

        You <strong>MUST</strong> close your browser to complete the logout process.
      </div>
		</noscript>	  
		<script type="text/javascript" src="https://res.de.dariah.eu/aai/js/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="https://res.de.dariah.eu/aai/js/bootstrap.js"></script>
	</body>		
</html>

