<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DARIAH :: <shibmlp errorType/></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Imports -->
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-responsive.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/application.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-customization.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-modal.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/font-awesome.css">
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/dariah_portal.css" type="text/css" media="screen, projection" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="https://res.de.dariah.eu/aai/img/page_icon.png" />
  </head>
  <body>
    <div id="content_layout">
      <div class="span8 main-content-wrapper">
        <div id="content" class="primary-area">
          <h1><shibmlp errorType/></h1>
          <div class="alert alert-error">The system encountered an error at <shibmlp now /></div>

            <p>To report this problem, please contact the site administrator at
            <a href="mailto:<shibmlp supportContact/>"><shibmlp supportContact/></a>.
            </p>

            <p>Please include the following message in any email:</p>
            <p class="error"><shibmlp errorType/> at (<shibmlp requestURL/>)</p>

            <p><shibmlp errorText/></p>

            <shibmlpif statusCode>
              <p>Error from identity provider:</p>
              <blockquote>
                <strong>Status:</strong> <shibmlp statusCode/><br>
                <shibmlpif statusCode2>
                  <strong>Sub-Status:</strong> <shibmlp statusCode2/><br/>
                </shibmlpif>
                <shibmlpif statusMessage>
                  <strong>Message:</strong> <shibmlp statusMessage/><br/>
                </shibmlpif>
              </blockquote>
            </shibmlpif>


          </div>
        <div class="row central_logo"></div>
      </div>
      <div class="row dfooter footer">
        <div class="span7">
          <hr/>
          <p>Digital Research Infrastructure for the Arts and Humanities.</p>
        </div>
      </div>
    </div>
    <noscript>
      <div>
        <shibmlpif logoLocation>
          <img src="<shibmlp logoLocation/>" alt="Logo" />
        </shibmlpif>

        <h1><shibmlp errorType/></h1>

        <p>The system encountered an error at <shibmlp now /></p>

        <p>To report this problem, please contact the site administrator at
        <a href="mailto:<shibmlp supportContact/>"><shibmlp supportContact/></a>.
        </p>

        <p>Please include the following message in any email:</p>
        <p class="error"><shibmlp errorType/> at (<shibmlp requestURL/>)</p>

        <p><shibmlp errorText/></p>

        <shibmlpif statusCode>
          <p>Error from identity provider:</p>
          <blockquote>
            <strong>Status:</strong> <shibmlp statusCode/><br>
            <shibmlpif statusCode2>
              <strong>Sub-Status:</strong> <shibmlp statusCode2/><br/>
            </shibmlpif>
            <shibmlpif statusMessage>
              <strong>Message:</strong> <shibmlp statusMessage/><br/>
            </shibmlpif>
          </blockquote>
        </shibmlpif>


      </div>
    </noscript>
    <script type="text/javascript" src="https://res.de.dariah.eu/aai/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="https://res.de.dariah.eu/aai/js/bootstrap.js"></script>
  </body>
</html>


